body {
    /*background-color: lightgrey;*/
}

.container {
    background-color: white;
    width: 83vh;
  margin-left: 65vh;
  height: 70vh;
}

img {
    max-width: 400px;
}
h1{
    text-align: center;
}

h3 {
    color: darkred;
}
.header {
    box-sizing: content-box;
    border-color: red white red white;
    border-style: solid;

}
.presentation{
    background-color: lightgray;
    text-align: center;
}
footer { 
    background-color: #686b6e; 
    color: white; 
    text-align: center; 
    padding: 1rem 0; 
    margin-top: auto; 
}
#cyberpunk{
    text-align: center;

}
#actors{
    text-align: center;
}